.patientcontainer {
    margin: 0 auto;
    text-align: center;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    max-height: max-content;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

/* Hide the scrollbar */
.patientcontainer::-webkit-scrollbar {
    width: 0.5em;
    background-color: #f5f5f5;
}

/* Style the scrollbar thumb */
.patientcontainer::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
    border-radius: 4px;
}

/* Optional: Style the scrollbar track */
.patientcontainer::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}