#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow-y: auto;
}


.read-the-docs {
  color: #888;
}

body {
  background-image: url("./assets/WhatsApp Image 2023-03-25 at 05.46.35.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}