.appointment-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-out;
  overflow-x: auto;
}

.appointment-list-h1 {
  font-size: 72px;
  margin-top: 50px;
  text-align: center;
}
