.appointment-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: calc(80vh - 100px);

}

.appointment-list-h1 {
  font-size: 72px;
  margin-top: 50px;
  text-align: center;
}